---
---

<div class="flex-1 bg-editor-bg flex overflow-hidden font-mono text-sm">
  <!-- Line Numbers -->
  <div class="w-12 flex-shrink-0 text-right pr-3 py-4 text-[#4a5f78] select-none border-r border-[#233648]">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
    <div>8</div>
    <div>9</div>
    <div>10</div>
    <div>11</div>
    <div>12</div>
    <div>13</div>
    <div>14</div>
    <div>15</div>
    <div>16</div>
    <div>17</div>
    <div>18</div>
    <div>19</div>
    <div>20</div>
    <div>21</div>
    <div>22</div>
    <div>23</div>
    <div>24</div>
    <div>25</div>
    <div>26</div>
    <div>27</div>
  </div>
  
  <!-- Code Content Area -->
  <div class="flex-1 p-4 overflow-auto">
    <pre class="text-[#6b7d8f]">// Code content will be added in next task</pre>
  </div>
</div>
